<h2>Welcome!</h2>

<p>SymptoMeter is a useful assistant that can help every woman track her fertility without being 
dependent on paper tables and charts. A complete tool for 
<a href="http://www.plannedparenthood.org/health-topics/birth-control/symptothermal-method-22142.htm">syptothermal method</a> 
for planning your parenthood.</p>

<p>Just log in using your favorite social network and enjoy!</p>

<p id="socialLogin" ng-controller="AuthCtrl" class="row-fluid" style="margin-top: 30px">
    <a href="https://www.facebook.com/dialog/oauth?client_id=108170726014554&amp;redirect_uri=http://sympto-dk.rhcloud.com/app/auth/oauth/fb/callback&amp;state={{stateHash}}&amp;scope=email"
        class="span6">
        <img src="img/social/facebook_active.png" alt="Login with Facebook" title="Login with Facebook" />
    </a>    
    <a href="" class="span6">
        <img src="img/social/google_active.png" alt="Login with Google" title="Login with Google" />
    </a>    
</p>
